* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {	
	font-family: Calibri, sans-serif;
}

p {
	text-align:center;	
}

.Center_Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  height: auto;
  padding-left: 120px;
}

.Home_Page_Alignment {
	width: 50vw;
	text-align:center;	
}

/*Used to center the header image on each page and ensure they are the same size*/
.HeaderImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height:200px;
	width:600px;
	padding: 10px 10px 10px 10px;
}

/*Sets active color of which page you are on in the menu*/
.Active {
	background-color: #6c91cc;
}

/*Sets the size and location of the hamburger menu icon */
.MenuIcon {
	font-size: 60px;
	color: blue;
	cursor: pointer;
	position: absolute;
    top: 0px;
    right: 0px;
}

 /* The Overlay (background) */
.Overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition:.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.Overlay_Menu {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.Overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.Overlay a:hover, .Overlay a:focus {
  color: blue;
}

/* Position the close button (top right corner) */
.Overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*-------------------------------------------------*/
/*slide show*/
.Slideshow_Zone {
	margin-top: 10px;	
	border: 8px solid blue;
	width: 50vw;
}

.Slideshow_Heading {
	padding: 30px;
	text-align: center;
	font-size: 30px;
}

.Slideshow_Main {
	overflow: hidden;
	width: 728px;
	height: 510px;
	margin: 0 auto;
}

.Slideshow_Wrapper {
	width: 3640px;/* value = 3*slideshow-item-width = 728 * 3 = 2184px because of 3 slides in slideshow*/
	-webkit-animation: slideshow-item 15s ease infinite;
}

.Slideshow_Content {
	float: left;
	width: 728px;
	height: 410px;
}

.Slideshow_Content h4, h2, h3{
	text-align: center;
	padding: 10px;
}

.Slideshow_Content p {
	text-align: center;
	padding: 10px;
}

.Slideshow_Content img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height:300px;
	width:300px;
}

.Slideshow_Content:nth-child(1) {
	background: yellow;
}

.Slideshow_Content:nth-child(2) {
	background: purple;
}

.Slideshow_Content:nth-child(3) {
	background: gray;
}

.Slideshow_Content:nth-child(4) {
	background: blue;
}

.Slideshow_Content:nth-child(5) {
	background: green;
}

@-webkit-keyframes slideshow-item {
  10% {margin-left: 0px;}
  20% {margin-left: -728px;}
  30% {margin-left: -728px;}
  40% {margin-left: -1456px;}
  50% {margin-left: -1456px;}
  60% {margin-left: -2184px;}
  70% {margin-left: -2184px;}
  80% {margin-left: -2912px;}
  90% {margin-left: -2912px;}
}

.For_Sale_Img {
	width: 20vw;
	height: auto;	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

/*--------------------------------------------------------------------*/
/*Create three equal columns that sits next to each other on various pages along with genral used ccs around the website*/
.Common_Row, .RevInfo_Row, .Home_Page_Top_Row{
	display: flex;
	flex-direction: row;
}

.Common_Column, .RevInfo_Column {
	flex: 1;
	display: block;
	padding: 10px;	
	margin: 5px;
}

.Common_Column img {
	display:block;
	width:200px;
	height:150px;
}

.RevInfo_Column img {
	display: block;
	width:auto;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.AboutUs_Column {
	flex: 1;
	display: block;
	padding: 10px;	
	margin: 5px;
	column-width:500px;
}

.AboutUs_Column p, .Topics_Column p, .Common_Column p {
	text-align: center;
}

.Home_Menu_1st_Column {
	flex: 1;
	display: block;	
	margin-left: 250px;
	margin-bottom:-100px;
}

.Home_Menu_2st_Column {
	flex: 1;
	display: block;	
	padding:-50px;
	margin-bottom: 50px;
}

.AboutUs_Gif {
	width:480px; 
	height:480px; 
}
.Contact_Us_Button {
    background-color: #1c87c9;
    color: white;
    padding: 20px 34px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
	border-radius: 5px;
}

/*-------------------------------------------------*/
/*photo-gallery webpage*/

.GallerySetting {
	margin-top: 20px;
	position: relative; left: 0; top: 0;
	padding-bottom: 550px;
}

.PicOne {
	position:relative;
    top: 0;
    left: 0;
	height: 50vh;
	width: auto;
}
	
.PicTwo {
	position:absolute;
    top: 10vh;
    left: 60vh;
	height: 50vh;
	width: auto;
}

.PicThree {
    position: absolute;
    top: 70vh;
    left: 5vh;
	height: 50vh;
	width: auto;
}

.PicFour {
    position: absolute;
    top: 35vh;
    left: 20vh;
	height: 50vh;
	width: auto;
}

.PicFive {
    position: absolute;
    top: 35vh;
	left: 120vh;
	height: 50vh;
	width: auto;
}

.PicSix {
    position: absolute;
    top: 60vh;
    left: 80vh;
	height: 50vh;
	width: auto;
}

.PicSeven {
    position: absolute;
    top:7vh;
    left: 150vh;
	height: 50vh;
	width: auto;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  z-index:1;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
 
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------------------------------------------------------*/
/*3d flip boxes used for menu items*/

.Flip_Box {
	background-color: transparent;
	width: 250px;
	height: 250px;
	perspective: 1000px;
}

.Flip_Box_Inner {
	position: relative;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.Flip_Box_Front {
	position: absolute;
	backface-visibility: hidden;
	background-color: white;
	color: black;
}

.Flip_Box_Back {
	position: absolute;
	backface-visibility: hidden;
    background-color: white;
    transform: rotateY(180deg);	
}

.Flip_Box_Front img {
	display: block;
	width: 100%;
	height: 100%;
}

.Flip_Box_Back img {
	display: block;
	width: 100%;
	height: 100%;
}

.Flip_Box:hover .Flip_Box_Inner {
	transform: rotateY(180deg);
}

.Flip_Box_Grid {
  display: grid;
  grid-gap: px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

/*--------------------------------------------------------------------*/
/*Retun to top button*/

#Return_Top_Button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 5px; /* Place the button at the bottom of the page */
  right: 15px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: blue; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#Return_Top_Button:hover {
  background-color: black; /* Add a dark-grey background on hover */
}

/*-------------------------------------------------*/
/*Timeline*/
.timeline-area {
	border: 3px solid blue;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #6c91cc;
}

.timeline-header {
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline h2 {
		text-align:center;
		margin-bottom:5px;
		font-weight: bold;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid blue;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content img {
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 10px;
}

/*-------------------------------------------------*/
/*enrollment form page*/
.ContactUS_Form {
	margin: 10px 10px 10px 10px;
	border-radius: 90px;
	box-shadow: 5px 5px black;
	background-color: #6c91cc;
	padding: 20px;
}

.ContactUS_Form h2 {
		text-align: center;
		padding-bottom: 20px;
}

label {
	padding: 0.8em 0.8em 0.8em 0;
	display: inline-block;
}

.ContactUS_Form input[type=text], 
.ContactUS_Form input[type=number], 
.ContactUS_Form input[type=email],
.ContactUS_Form input[type=date], 
.ContactUS_Form select,
.ContactUS_Form textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

.Col_25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.Col_50 {
	float: left;
	width: 50%;
	margin-top: 6px;
}

.Col_60 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.ContactUS_Form  input[type=submit], .ContactUS_Form input[type=reset]{
  background-color: #1d31b3;
  color: white;
  padding: 12px 20px;
  border: none;
  margin: 1em 2em;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  /*float: right;*/
}

.ContactUS_Form  input[type=submit]:hover,  
.ContactUS_Form input[type=reset]:hover {
  background-color: black;
}

.Site_Map_Img {
	width: 250px;
	height: auto;	
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button-row {
	text-align: center;
}

.Submit_Button, .Reset_Button {
	display: inline-block;
}

footer {
	background-color:#6c91cc;
	text-align:center;	
	padding: 10px 10px 10px 10px; 
    width: 100%;  
    height: 100%; 
}

/*-------------------------------------------------*/
/* Responsive layout */
/* When the height of the screen is less than 600 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-width: 600px) {
	/*Makes the three columns stack on top of each other instead of next to each other */
	.Common_Row, .Topics_Row, .RevInfo_Row, .Home_Page_Top_Row {
		display: flex;
		flex-direction: column;
	}

	.Home_Page_Alignment {
		width: 95vw;
		text-align:center;	
	}
	
	.HeaderImage  {
		height:125px;
		width:350px;
	}

	.Center_Img  {
		height:200px;
		width:350px;
		padding-left:0px;
	}
	
	.Common_Column p, .Common_Column h4 {
		text-align:center;	
	}
	
	.Common_Column img {
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
	
	.For_Sale_Img {
		width: 250px;
	}
	
	.Home_Menu_1st_Column {
		flex: 1;
		display: block;	
		margin-left: auto;
		margin-right:auto;
		margin-bottom:10px;
	}

	.Home_Menu_2st_Column {
		flex: 1;
		display: block;	
		margin-left: auto;
		margin-right:auto;
		padding:0px;
	}
		
	/*This makes the overlay respond to screen size change.*/
	.Overlay a {font-size: 20px}
	.Overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
	
	/*make the timeline responsive*/
	 /* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}
	  
	  /* Full-width containers */
	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	  
	/* Make sure that all arrows are pointing leftwards */
	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	  /* Make sure all circles are at the same spot */
	.left::after, .right::after {
		left: 15px;
	}
	  
	  /* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	} 	
	  
	 	  /* Responsive form - when the screen is less than 600px wide, 
	  make the two columns stack on top of each other instead of next to each other */
	 .Col_25, .Col_60, .ContactUS_Form input[type=submit], 
	 .ContactUS_Form input[type=reset] {
		width: 100%;
		margin: 5px;
	 }   
	 
	 .ContactUS_Form .submit-button, .ContactUS_Form .reset-button {
		display: block;
	 } 
	   .modal-content {
		width: 100%;
     }
	 
	.GallerySetting {
		padding-bottom: 1800px;
	}  
	
	.Slideshow_Zone {
		width: 90vw;
	}
  
  
    .PicOne {
		position: flex;
		height: 300px;
		width: auto;
	}
		
	.PicTwo {
		top: 300px;
		left: 0vh;
		height: 300px;
		width: auto;
	}

	.PicThree {
		top: 600px;
		left: 0vh;
		height: 300px;
		width: auto;
	}

	.PicFour {
		top: 900px;
		left: 0vh;
		height: 300px;
		width: auto;
	}

	.PicFive {
		top: 1200px;
		left: 0vh;
		height: 300px;
		width: auto;
	}

	.PicSix {
		top: 1500px;
		left: 0vh;
		height: 300px;
		width: auto;
	}

	.PicSeven {
		top: 1800px;
		left: 0vh;
		height: 300px;
		width: auto;
	}
	.Slideshow_Wrapper {
		width: 1700px;/* value = 3*slideshow-item-width = 728 * 3 = 2184px because of 3 slides in slideshow*/
		-webkit-animation: slideshow-item 15s ease infinite;
	}

	@-webkit-keyframes slideshow-item {
	  10% {margin-left: 0px;}
	  20% {margin-left: -340px;}
	  30% {margin-left: -340px;}
	  40% {margin-left: -680px;}
	  50% {margin-left: -680px;}
	  60% {margin-left: -1020px;}
	  70% {margin-left: -1020px;}
	  80% {margin-left: -1360px;}
	  90% {margin-left: -1360px;}
	}
	
	.Slideshow_Heading {
		padding: 30px;
		text-align: center;
		font-size: 30px;
	}

	.Slideshow_Main {
		overflow: hidden;
		width: 340px;
		height: 510px;
		margin: 0 auto;
	}

	.Slideshow_Content {
		float: left;
		width: 340px;
		height: 410px;
	}
	
	.AboutUs_Gif {
		width:350px; 
		height:350px; 
	}
}